body {
  background-image: url('../img/caduceus.png');
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;

  background-size: 450px 800px;
  background-color: #d1e2ff;
}

h1 {

}

p {
  text-align: center;
  color: #ff5be3;
}

#doctor-form {
  display: none;
}

.instructions {
  width: 400px;

}

.instructions-two {
  width: 400px;
  display: none;

}

.card {
  display: block;
  border: 3px solid black;
  min-width: 300px;
  max-width: 400px;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
}
